@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkGrayBlue: hsl(217, 19%, 35%);
  --darkBlue: hsl(214, 17%, 51%);
  --grayBlue: hsl(212, 23%, 69%);
  --lightGrayBlue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--lightGrayBlue);
  display: grid;
  min-height: 100vh;
  align-items: center;
}

.card {
  width: 90vw;
  margin: 4rem auto;
  display: grid;
  border-radius: 10px;
  background: white;
  border-radius: 10px;
}

.img-container {
  width: 100%;
  height: 250px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content {
  padding: 2rem 2rem 1rem 2rem;
}

.content h2 {
  font-size: 17px;
  margin-bottom: 1rem;
  color: var(--darkGrayBlue);
  font-weight: 700;
}

.content p {
  color: var(--darkBlue);
  font-weight: 700;
}

footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all linear;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.share {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--grayBlue);
  padding: 8px;
  cursor: pointer;
}

.author-content {
  display: flex;
}

.author h4 {
  color: var(--darGraykBlue);
}

.author h4:last-child {
  color: var(--darkBlue);
}

.footer {
  padding: 1rem 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all linear;
}

.share-footer {
  background: var(--darkGrayBlue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  grid-template-columns: 3fr 1fr;
  padding: 1rem 2rem;
  transition: 0.3s all linear;
}

.share-footer div {
  display: flex;
  align-items: center;
}

.share-footer div > h3 {
  color: var(--lightGrayBlue);
  margin-right: 1rem;
  font-weight: 700;
}

.share-icon {
  font-size: 18px;
  margin-right: 0.4rem;
  color: white;
  cursor: pointer;
}

.sharebutton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-self: end;
  border: transparent;
  background: var(--darkBlue);
  cursor: pointer;
}

.share-btn {
  color: white;
}

.active {
  display: grid;
}

.hide {
  display: none;
}

.share-footer-1 {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  .card {
    width: 60vw;
    grid-template-columns: 1fr 1fr;
  }

  .img-container {
    height: auto;
  }

  img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.5;
  }

  footer {
    display: none;
  }

  .footer {
    padding: 2rem 0;
    display: flex;
  }

  .share-footer {
    display: none;
  }

  .share-footer-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    right: 15%;
    top: 52%;
    border-radius: 10px;
  }

  .share-footer-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    top: 100%;
    left: 50%;

    background: red;
  }

  .share-footer-1 h3 {
    color: var(--lightGrayBlue);
  }
  .share-hide {
    display: none;
  }
}
